<?xml version="1.0"  encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload= "true"
	  internalLogLevel =" info"
	  internalLogFile ="c:\temp\internal-nlog.txt"
	internalLogToConsole="true">

	<targets>
		
		<target name="AllLogs" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="C:\beka\logs\All-Logs.txt"/>
		
		<target name="EmployeeLogs" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="C:\beka\logs\Employee-Logs.txt"/>

        <target name="ClassLogs" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="C:\beka\logs\Class-Logs.txt"/> 

		<target name="StudentLogs" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="C:\beka\logs\Student-Logs.txt"/>

		<target name="LibraryLogs" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="C:\beka\logs\Library-Logs.txt"/>

		<target name="exceptions" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="C:\beka\logs\xddd.txt"/>
	</targets>

	<rules>
		<logger name="MySchoolApiDataBase.Entities.EmployeeRepository" minlevel="Trace" writeTo="EmployeeLogs" />
		
		<logger name="MySchoolApiDataBase.Entities.ClassRepository" minlevel="Trace" writeTo="ClassLogs" />
		<logger name="MySchoolApiDataBase.Entities.StudentRepository" minlevel="Trace" writeTo="StudentLogs" />
		<logger name="MySchoolApiDataBase.Entities.LibraryRepository" minlevel="Trace" writeTo="LibraryLogs" />
		<logger name="*" minlevel="Trace" writeTo="AllLogs" />
		<logger name="*" minlevel="Error" writeTo="exceptions" />
	</rules>
</nlog>